<div class="container clearfix">
	<% if user_signed_in? %>
        <div class="following_user_top">
			<% @user.followers.each do |user| %>
			    <table class="following_user_all">
				    <th class="following_user_image">
				    	<%= link_to users_user_path(user) do%>
				            <%= attachment_image_tag user, :user_image, :fill,100,100, format: "jpeg", fallback: "no_image-c7305210e2d30bf8f19461ca05a151bba6413a44a35124f673246160efefdc5e.jpg", size: "70x70" %>
				        <% end %>
				    </th>
				    <th class="following_user_name">
				    	<%= link_to users_user_path(user) do%>
				            <%= user.name %>
				        <% end %>
				    </th>
				    <th class="following_user_follow_form">
				    	<div class="follow_form">
				            <%= render 'users/users/follow_form', user: user %>
				        </div>
				    </th>
			    </table>
			<% end %>
		</div>

	<% else %>

        <div class="following_user_top">
		    <% @user.followers.each do |user| %>
			    <table class="following_user_all">
				    <th class="following_user_image">
				        <%= attachment_image_tag user, :user_image, :fill,100,100, format: "jpeg", fallback: "no_image-c7305210e2d30bf8f19461ca05a151bba6413a44a35124f673246160efefdc5e.jpg", size: "70x70" %>
				    </th>
				    <th class="following_user_name">
				        <%= user.name %>
				    </th>
				    <th class="following_user_show">
				        <%= link_to '・・・', users_user_path(user) , class:"btn-sm btn-light "%>
				    </th>
			    </table>
			<% end %>
		</div>

    <% end %>
</div>