<div class="container clearfix">
    <div class="users_sessions_new_all">

        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %>">
                <%= message %>
              </div>
          <% end %>
          <%= render 'layouts/error_messages', model: f.object %>

          <div class="field users_sessions_new_email">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control session_form" %>
          </div>

          <div class="field users_sessions_new_password">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" , class: "form-control session_form"%>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="users_sessions_new_pass_rem ">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <button type="submit" class="users_registrations_new_submit_button"  id="users_registrations_new_link">Log in</button>
          </div>
        <% end %>

          <div class="new_user_password">
            <%= link_to new_user_password_path do %>
               <p>Forgot your password?</p>
            <% end %>
          </div>

          <div class="sns_login">
            <%= link_to user_facebook_omniauth_authorize_path, class:"btn bg-primary facebook_log_boot" ,style:  "color:white;" do %>
               <i class="fab fa-facebook-square facebook_log"></i> Facebookアカウントでログイン
            <% end %><br>
            <%= link_to user_google_oauth2_omniauth_authorize_path, class:"btn bg-danger google_log_boot",style:  "color:white;"   do %>
               <i class="fab fa-google google_log"></i> Googleアカウントでログイン
            <% end %>
          </div>

    </div>
</div>
