<div class="modal-dialog" role="document">
  <div class="modal-content">

	<%= form_for @user, remote: true do |f| %>

	    <table>
	         <thead>
		         <tr>
		          <th>userimage</th>
		          <th>name</th>
		          <th>email</th>
		         </tr>
	         </thead>
	         <tbody>
		         <tr>
		           <td><%= f.attachment_field :user_image,class:"form-control" %></td>
		           <td><%= f.text_field :name, class:"form-control" %></td>
		           <td><%= f.email_field :email, class:"form-control" %></td>
		           <td><%= f.submit class:"btn btn-primary"%></td>
		         </tr>
	         </tbody>
	    </table>

	 <% end %>

 </div>
</div>