<div class="post_comment_index_top">
	<% comments.first(3).each do |comment| %>
	    <% unless comment.id.nil? %>
	        <div class="post_comment_index">
		        <div class="row">
			        <div class="col-6">
			    	    <%= attachment_image_tag comment.user, :user_image, :fill,100,100, format: "jpeg", fallback: "no_image-c7305210e2d30bf8f19461ca05a151bba6413a44a35124f673246160efefdc5e.jpg", size: "50x50" %>
			    	    <%= link_to "#{comment.user.name}さん", users_user_path(comment.user.id) %>
			        </div>
			        <div class="col-6">
			    	    <% if comment.user == current_user %>
			    	        <div class="post_comment_index_delete"><%= link_to 'コメントを削除する', users_post_comment_path(comment.post_id, comment.id), method: :delete, remote: true , class:"btn-sm btn-light " %>
			    	        </div>
			    	    <% end %>
			        </div>
		        </div>
		        <p><div class="post_comment_index_content">comment：<%= comment.content %></div></p>
		    </div>
	    <% end %>
	<% end %>


   <h6 class="comment_more" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"aria-controls="collapseExample">more</h6>
	    <div class="collapse" id="collapseExample">
		    <% comments.offset(3).each do |comment| %>
		        <% unless comment.id.nil? %>
		            <div class="post_comment_index">
			            <div class="row">
				            <div class="col-6">
				    	        <%= attachment_image_tag comment.user, :user_image, :fill,100,100, format: "jpeg", fallback: "no_image-c7305210e2d30bf8f19461ca05a151bba6413a44a35124f673246160efefdc5e.jpg", size: "50x50" %>
				    	        <%= link_to "#{comment.user.name}さん", users_user_path(comment.user.id) %>
				            </div>
				            <div class="col-6">
				    	        <% if comment.user == current_user %>
				    	            <div class="post_comment_index_delete"><%= link_to 'コメントを削除する', users_post_comment_path(comment.post_id, comment.id), method: :delete, remote: true , class:"btn-sm btn-light " %>
				    	            </div>
				    	        <% end %>
				            </div>
			            </div>
			            <p><div class="post_comment_index_content">comment：<%= comment.content %></div></p>
			        </div>
		        <% end %>
		    <% end %>
	    </div>
</div>
