<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/65370e92be.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div id="wrapper">
    <header class="header_top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-white">
        <div class="container-fluid clearfix">

            <div class="nav_title_name">
              <h3>Picking</h3>
            </div>

          <% if user_signed_in? %>
            <div class="index_link_title">
              <div id="index_link_title">
                <% if current_page?(controller: 'users/posts', action: 'index') %>
                   <%= link_to "timeline", follow_index_path,style:  "color:black;" %>
                <% else %>
                   <%= link_to "all", root_path,style:  "color:black;" %>
                <% end %>
              </div>
            </div>

            <div class="nav_search">
              <%= form_tag(search_path,:method => 'get') do %>
                      <%= text_field_tag :search, "",placeholder:"item name" %>
                      <button type="submit" class="search_button"  id="search_button_link"><i class="fas fa-search"></i></button>
              <% end %>
            </div>
          <% else %>
            <div class="nav_search_logout">
              <%= form_tag(search_path,:method => 'get') do %>
                      <%= text_field_tag :search, "",placeholder:"item name" %>
                      <button type="submit" class="search_button"  id="search_button_link"><i class="fas fa-search"></i></button>
              <% end %>
            </div>
          <% end %>

            <div class="nav_home_bar">
              <ul class="navbar-nav">
                <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to "Home", root_path, class:"nav_home_select",style:  "color:black;" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "About", root_path, class:"nav_home_select",style:  "color:black;" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "My Page", users_user_path(current_user.id), class:"nav_home_select",style:  "color:black;" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"nav_home_select",style:  "color:black;" %>
                  </li>

                <% else %>
                  <li class="nav-item">
                    <%= link_to "Home", root_path, class:"btn btn-default rounded-pill",style:  "color:black;" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Log in", new_user_session_path, class:"btn btn-default rounded-pill",style:  "color:black;" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Sign up", new_user_registration_path, class:"btn btn-default rounded-pill",style:  "color:black;" %>
                  </li>
                <% end %>
              </ul>
            </div>

        </div>
      </nav>
    </header>


    <%= yield %>

      <div class="fixed_category">
        <div class="category_title">
          <h5>category</h5>
        </div>
          <% @categories.each do |cate| %>
              <p><%= link_to cate.name, "/category/#{cate.id}" ,style:  "color:black;" %></p>
          <% end %>
      </div>

    <% if user_signed_in? %>

      <div class="fixed_rank">
        <div class="rank_title">
          <h5>want ranking</h5>
        </div>
          <% @all_ranks.each.with_index(1) do |post, i| %>

            <div class="rank_number"><%= i %></div>
              <div class="rank_post_all">
                <div class="rank_post_image">
                  <%= link_to users_post_path(post) do %>
                    <%= attachment_image_tag post, :post_image, :fill,100,100, format: "jpeg", fallback: "no_image-c7305210e2d30bf8f19461ca05a151bba6413a44a35124f673246160efefdc5e.jpg", size: "60x60" %>
                  <% end %>
                </div><br>
                <div id="rank_post_name">
                  <%= link_to users_post_path(post) do %>
                    <%= post.post_name %>
                  <% end %>
                </div>
                <div class="post_index_url">
                  <div id="post_url_link">
                    <a href= <%= post.url %>>shop</a>
                  </div>
                </div>
              </div>
          <% end %>
      </div>

      <div class="fixed_recommend_post">
        <h5>recommend item</h5>
            <% unless @likes_recommend.nil? %>
             <div class="rank_post_all">
                <div class="rank_post_image">
                  <%= link_to users_post_path(@post_posts) do %>
                    <%= attachment_image_tag @likes_recommend.last, :post_image, :fill,100,100, format: "jpeg", fallback: "no_image-c7305210e2d30bf8f19461ca05a151bba6413a44a35124f673246160efefdc5e.jpg", size: "60x60" %>
                  <% end %>
                </div><br>
                <div id="rank_post_name">
                  <%= link_to users_post_path(@post_posts) do %>
                    <%= @likes_recommend.last.post_name %>
                  <% end %>
                </div>
                <div class="post_index_url">
                  <div id="post_url_link">
                    <a href= <%= @likes_recommend.last.url %>>shop</a>
                  </div>
                </div>
              </div>
            <% else %>
             <%= @random.post_name %>
            <% end %>
      </div>

      <div id="post_link">
          <div class="fixed_post">
             <%= link_to 'Post', new_users_post_path, remote: true, class:"post_link" %>
          </div>
      </div>

      <div class="modal fade " id="post-modal" tabshow="-1" role="dialog " aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="post_index_m modal-content">
            </div>
         </div>
      </div>

    <% else %>

    <% end %>



      <footer class="footer_bottom navbar navbar-dark bg-dark lg-10">
          <p class="text-white">picking-inc</p>
      </footer>

   </div>

  </body>
</html>
