<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/65370e92be.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body>
   <div id="wrapper">
    <header class="header_top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-white">
        <div class="container-fluid clearfix">

            <div class="nav_title_name">
                <h3>Picking</h3>
            </div>

<!--------------------------------レスポンシブ時のheaderのハンバーガーメニューを記述しています-------------------------------->

            <div id="sp_menu" class="sp">
                <h4>category</h4>
                <div class=category_responsive>
                   <% @categories.each do |cate| %>
                     <% if user_signed_in? %>
                      <p><%= link_to cate.name, "/category/#{cate.id}" ,style:  "color:white;" %></p>
                     <% elsif admin_signed_in? %>
                      <p><%= link_to cate.name, "/admins/category/#{cate.id}" ,style:  "color:white;" %></p>
                     <% else %>
                      <p><%= link_to cate.name, "/category/#{cate.id}" ,style:  "color:white;" %></p>
                     <% end %>
                   <% end %>
                </div>
            </div>

            <div id="hm_category" class="sp menu_trigger">
                 <span></span>
                 <span></span>
                 <span></span>
            </div>

<!---------------------------------レスポンシブ時のheaderのリンクを記述しています------------------------------------------->

          <% if user_signed_in? %>
              <div class="nav_logout_responsive">
                  <%= link_to destroy_user_session_path, method: :delete, style:  "color:black;" do %>
                     <i class="fas fa-sign-out-alt fa-lg"></i>
                  <% end %>
              </div>
          <% else %>
              <div class="nav_home_responsive">
                  <%= link_to root_path, style:  "color:black;" do %>
                     <i class="fas fa-home fa-lg"></i>
                  <% end %>
              </div>
              <div class="nav_logout_responsive">
                  <%= link_to new_user_session_path, style:  "color:black;" do %>
                     <i class="fas fa-sign-in-alt fa-lg"></i>
                  <% end %>
              </div>
              <div class="nav_signup_responsive">
                  <%= link_to new_user_registration_path,style:  "color:black;" do %>
                     <i class="fas fa-user-plus"></i>
                  <% end %>
              </div>
              <div class="user_notlogin_about">
                  <%= link_to "About", about_path, class:"nav_home_select",style:  "color:black;" %>
              </div>
          <% end %>

          <% if user_signed_in? %>
            <div class="nav_search">
              <%= form_tag(search_path,:method => 'get') do %>
                      <%= text_field_tag :search, "",placeholder:"item name" %>
                      <button type="submit" class="search_button"  id="search_button_link"><i class="fas fa-search"></i></button>
              <% end %>
            </div>
          <% elsif admin_signed_in? %>
            <div class="nav_search">
              <%= form_tag(admins_search_path,:method => 'get') do %>
                      <%= text_field_tag :search, "",placeholder:"item name" %>
                      <button type="submit" class="search_button"  id="search_button_link"><i class="fas fa-search"></i></button>
              <% end %>
            </div>
          <% else %>
            <div class="nav_search_logout">
              <%= form_tag(search_path,:method => 'get') do %>
                      <%= text_field_tag :search, "",placeholder:"item name" %>
                      <button type="submit" class="search_button"  id="search_button_link"><i class="fas fa-search"></i></button>
              <% end %>
            </div>
          <% end %>

<!---------------------------------PC時のheaderのリンクを記述しています---------------------------------------------------->

            <div class="nav_home_bar">
              <ul class="navbar-nav">
                <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to root_path, class:"btn btn-default rounded-pill nav_root_button" do %>
                       <i class="fas fa-home fa-lg fa-home-color"></i>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to follow_index_path, class:"btn btn-default rounded-pill nav_follow_index_button" do %>
                       <i class="fas fa-users fa-lg fa-users-color"></i>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to users_user_path(current_user.id), class:"btn btn-default rounded-pill nav_mypage_button" do %>
                       <i class="fas fa-user fa-lg fa-user-color"></i>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to users_notifications_path, class:"btn btn-default rounded-pill nav_notification_button" do %>
                       <i class="fas fa-dot-circle fa-lg fa-bookmark-color"></i>
                    <% end %>
                    <% if unchecked_notifications.any? %>
                        <i class="fa fa-circle notification-circle"></i>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-default rounded-pill nav_destroysession_button" do %>
                       <i class="fas fa-sign-out-alt fa-lg"></i>
                    <% end %>
                  </li>

                <% elsif admin_signed_in? %>
                  <li class="nav-item">
                    <%= link_to admins_posts_path, class:"btn btn-default rounded-pill nav_root_button" do %>
                       <i class="fas fa-home fa-lg fa-home-color"></i>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to admins_users_path, class:"btn btn-default rounded-pill nav_mypage_button" do %>
                       <i class="fas fa-users fa-lg fa-users-color"></i>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to admins_hashtags_path, class:"btn btn-default rounded-pill nav_mypage_button" do %>
                       <i class="fas fa-hashtag fa-lg fa-users-color"></i>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to destroy_admin_session_path, method: :delete, class:"btn btn-default rounded-pill nav_destroysession_button" do %>
                       <i class="fas fa-sign-out-alt fa-lg"></i>
                    <% end %>
                  </li>

                <% else %>
                  <li class="nav-item">
                    <%= link_to root_path, class:"btn btn-default rounded-pill nav_root_button",style:  "color:black;" do %>
                       <i class="fas fa-home fa-lg fa-home-color"></i>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to new_user_session_path, class:"btn btn-default rounded-pill nav_session_button" do %>
                       <i class="fas fa-sign-in-alt fa-lg"></i>
                    <% end %>
                  <li class="nav-item">
                    <%= link_to new_user_registration_path, class:"btn btn-default rounded-pill nav_registration_button" do %>
                       <i class="fas fa-user-plus"></i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>

        </div>
      </nav>
    </header>

<!---------------------------------PC時のサイドのカテゴリーを記述しています------------------------------------------------->

    <% if admin_signed_in? %>

        <div class="fixed_category">
          <div class="category_title">
            <h5>category</h5>
          </div>
            <% @categories.each do |cate| %>
                <p><%= link_to cate.name, "/admins/category/#{cate.id}" ,style:  "color:black;" %></p>
            <% end %>
        </div>

    <% elsif user_signed_in? %>

          <div class="fixed_category">
            <div class="category_title">
              <h5>category</h5>
            </div>
              <% @categories.each do |cate| %>
                  <p><%= link_to cate.name, "/category/#{cate.id}" ,style:  "color:black;" %></p>
              <% end %>
          </div>

    <% else %>

          <div class="fixed_category">
            <div class="category_title">
              <h5>category</h5>
            </div>
              <% @categories.each do |cate| %>
                  <p><%= link_to cate.name, "/category/#{cate.id}" ,style:  "color:black;" %></p>
              <% end %>
          </div>

          <div class="user_notlogin_about_all">
                <%= link_to "What's Picking?", about_path, class:"user_notlogin_about_content" %>
          </div>

    <% end %>

<!---------------------------------PC時のサイドのランキングを記述しています--------------------------------------------------->

    <% if admin_signed_in? %>

        <%= yield %>

    <% elsif user_signed_in?%>

        <%= yield %>

          <div class="fixed_rank">
            <div class="rank_title">
              <h5>want ranking</h5>
            </div>
              <% @all_ranks.each.with_index(1) do |post, i| %>

                <div class="rank_number"><%= i %></div>
                  <div class="rank_post_all">
                    <div class="rank_post_image">
                      <%= link_to users_post_path(post) do %>
                        <%= attachment_image_tag post, :post_image, :fill,100,100, format: "jpeg", fallback: "no_image-c7305210e2d30bf8f19461ca05a151bba6413a44a35124f673246160efefdc5e.jpg", size: "60x60" %>
                      <% end %>
                    </div><br>
                    <div id="rank_post_name">
                      <%= link_to users_post_path(post) do %>
                        <%= post.post_name %>
                      <% end %>
                    </div>
                    <div class="rank_post_url">
                      <div id="post_url_link">
                        <a href= <%= post.url %>>shop</a>
                      </div>
                    </div>
                  </div>
              <% end %>
          </div>

          <div class="fixed_recommend_post">
            <h5>recommend item</h5>
                <% unless @likes_recommend.blank? %>
                 <div class="rank_post_all">
                    <div class="rank_post_image">
                      <%= link_to users_post_path(@likes_recommend.last.id) do %>
                        <%= attachment_image_tag @likes_recommend.last, :post_image, :fill,100,100, format: "jpeg", fallback: "no_image-c7305210e2d30bf8f19461ca05a151bba6413a44a35124f673246160efefdc5e.jpg", size: "60x60" %>
                      <% end %>
                    </div><br>
                    <div id="rank_post_name">
                      <%= link_to users_post_path(@likes_recommend.last.id) do %>
                        <%= @likes_recommend.last.post_name %>
                      <% end %>
                    </div>
                    <div class="recommend_post_url">
                      <div id="post_url_link">
                        <a href= <%= @likes_recommend.last.url %>>shop</a>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <% if @random != "1" %>
                    <div class="rank_post_all">
                      <div class="rank_post_image">
                        <%= link_to users_post_path(@posts) do %>
                          <%= attachment_image_tag @random, :post_image, :fill,100,100, format: "jpeg", fallback: "no_image-c7305210e2d30bf8f19461ca05a151bba6413a44a35124f673246160efefdc5e.jpg", size: "60x60" %>
                        <% end %>
                      </div><br>
                      <div id="rank_post_name">
                        <%= link_to users_post_path(@posts) do %>
                          <%= @random.post_name %>
                        <% end %>
                      </div>
                      <div class="recommend_post_url">
                        <div id="post_url_link">
                          <a href= <%= @random.url %>>shop</a>
                        </div>
                      </div>
                    </div>
                  <% else %>
                  <% end %>
                <% end %>
          </div>

          <footer class="footer_bottom">
            <div class="page_top">
               <a href="">
                   <%= image_tag "images.png", size: "45x45", class: "page_top" %>
               </a>
            </div>

            <div id="post_link">
               <div class="fixed_post">
                <%= link_to "Post",new_users_post_path, remote: true ,style:  "color:black;" %>
               </div>
            </div>

            <div class="footer_information_all">
              <div class="footer_picking_name">picking-inc</div>
              <div class="footer_privacy_policy"><%= link_to "プライバシーポリシー",privacy_policy_path,style:  "color:white;" %></div>
              <div class="footer_term"><%= link_to "利用規約",term_path,style:  "color:white;" %></div>
            </div>

<!---------------------------------レスポンシブ時のfooterのリンクボタンを記述しています--------------------------------------->

            <div class="responsive_footer_button_all">
              <%= link_to root_path, class:"footer_top_button",style:  "color:black;" do %>
                 <i class="fas fa-home fa-lg fa-home-color"></i>
              <% end %>
              <%= link_to follow_index_path, class:"footer_timeline_button",style:  "color:black;" do %>
                 <i class="fas fa-users fa-lg fa-users-color"></i>
              <% end %>
              <div id="post_link">
                 <%= link_to new_users_post_path, remote: true, class:"footer_post_button",style:  "color:black;" do %>
                    <i class="fas fa-plus-square fa-lg fa-user-color"></i>
                 <% end %>
              </div>
              <%= link_to users_user_path(current_user.id), class:"footer_mypage_button",style:  "color:black;" do %>
                 <i class="fas fa-user fa-lg fa-user-color"></i>
              <% end %>
              <%= link_to users_notifications_path, class:"footer_notification_button",style:  "color:black;" do %>
                 <i class="fas fa-dot-circle fa-lg fa-bookmark-color"></i>
              <% end %>
              <% if unchecked_notifications.any? %>
                  <i class="fa fa-circle notification-circle"></i>
              <% end %>
            </div>
          </footer>

          <div class="modal fade " id="post-modal" tabshow="-1" role="dialog " aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog">
                <div class="post_index_m modal-content">
                </div>
             </div>
          </div>

    <% else %>

　　　　　　<%= yield %>

<!-------------------------------非ログイン時のPC時のfooterのリンクを記述しています------------------------------------------->
          <div class="page_top">
               <a href="">
                   <%= image_tag "images.png", size: "45x45", class: "page_top" %>
               </a>
          </div>

          <footer class="footer_bottom_notlogin">
            <div class="footer_information_all">
              <div class="footer_picking_name">picking-inc</div>
              <div class="footer_privacy_policy"><%= link_to "プライバシーポリシー",privacy_policy_path,style:  "color:white;" %></div>
              <div class="footer_term"><%= link_to "利用規約",term_path,style:  "color:white;" %></div>
            </div>
          </footer>

    <% end %>

   </div>

  </body>
</html>
