<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/65370e92be.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div id="wrapper">

      <header class=devise_title>
        <h1>Picking</h1>
      </header>


      <%= yield %>


      <footer class="footer_bottom navbar navbar-dark bg-dark lg-10">
          <p class="text-white">picking-inc</p>
      </footer>


   </div>
  </body>
</html>
