<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/65370e92be.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body>
   <div id="wrapper">

      <header class=devise_title>
        <h1>Picking</h1>
      </header>


      <%= yield %>


      <footer class="devise_footer_bottom">

        <div class="footer_information_all">
          <div class="footer_picking_name">picking-inc</div>
          <div class="footer_privacy_policy"><%= link_to "プライバシーポリシー",privacy_policy_path,style:  "color:white;" %></div>
          <div class="footer_term"><%= link_to "利用規約",term_path,style:  "color:white;" %></div>
        </div>

      </footer>


   </div>
  </body>
</html>
